@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap");
* {
  box-sizing: border-box;
  font-family: arial;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  background-color: #5eb2c7;
  background: url(bg2.jfif);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  min-height: 350px;
  margin: 0;
  max-width: 1000px;
  padding: 60px;
  border-radius: 20px;
  background-image: linear-gradient(
    to right,
    rgb(242, 112, 156),
    rgb(255, 148, 114)
  );
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img {
  height: 100px;
  border: 5px solid #072f5f;
  border-radius: 50px;
}
.photo {
  margin-top: -70px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.desc {
  border: 2px solid #000;
  border: none;
  width: 35%;
  border-radius: 20px;
  padding: 25px;
  float: left;
  text-align: justify;
  text-justify: inter-word;
  background-color: #bcdee7;
}

.about {
  border: 2px solid #000;
  border: none;
  width: 60%;
  border-radius: 20px;
  padding: 25px;
  float: right;
  text-align: justify;
  text-justify: inter-word;
  background-color: #bcdee7;
}
.right {
  display: block;
}
.social-icons {
  display: inline-flex;
  justify-content: space-around;
  align-content: space-between;
  width: 60%;
  float: right;
  padding: 50px;
}
.share-btn {
  cursor: pointer;
  font-size: 30px;
  color: #072f5f;
}
.buttons {
  display: inline-flex;
  justify-content: space-around;
  align-content: space-between;
  width: 60%;
  float: right;
  padding: 20px;
}

.contact,
.download {
  text-decoration: none;
  border: 1px solid #000;
  text-align: center;
  border-radius: 5px;
  width: 150px;
  cursor: pointer;
  padding: 15px;
  font-weight: 900;
  background-color: #072f5f;
  color: #bcdee7;
  cursor: pointer;
  border: none;
}
@media (max-width: 850px) {
  .desc {
    width: 100%;
    margin-bottom: 35px;
  }
  .about,
  .social-icons,
  .buttons {
    width: 10%;
  }
}
